<html>
<head>
<title>irc.dev</title>
<style>
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  margin: 0;
}
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.connection {
  background: #333333;
  color: #e8e8e8;
  padding: 5px 1em;
}
.connection input {
  width: 200px;
  padding: 3px 5px;
}

.logs {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.log {
  font-family: monospace;
  font-size: 0.9em;
  line-height: 1.4em;
  flex: 1;
  overflow-y: scroll;
}
.log td {
  padding: 2px 4px;
  vertical-align: text-top;
}
.log-command {
  background: #e2aeae;
  margin: 0 1px;
  padding: 0 2px;
  border-radius: 2px;    
}
.log-params > span {
  background: #eaeaea;
  margin: 0 1px;
  padding: 0 2px;
  border-radius: 2px;
}

.options {
    padding: 10px;
}

.options > label {
  display: block;
  margin-bottom: 5px;
}

.irc-options {
    background: #eee;
    padding: 1em;
    margin: 1em;
}
.irc-options label {
    display: block;
}

.helptext {
    font-size: 0.8em;
}
a {
    cursor: pointer;
}
</style>
</head>
<body>
    <div id="app">
    <div class="connection">
        <label>TLS WebSocket Server (host[:port][/path]) <input v-model="connection.url"></label>
        <button @click="showIrcOpts = !showIrcOpts">More options</button>
        <button @click="connectIrc">Connect</button>
        <span v-if="numConnects > 0" class="connection-state">{{ connectionStates[connection.state] }}</span>
    </div>

    <irc-options ref="ircopts" v-show="showIrcOpts"></irc-options>
    
    <div class="logs">
        <div class="log">
            <table cellpadding="2">
                <tr v-for="log in filteredLogs" :key="log.id">
                    <td v-if="showUi.timestamp">{{ log.time - logStarted }}</td>
                    <td v-if="showUi.direction">{{ log.fromServer ? '[s]' : '[c]' }}</td>
                    <td class="log-message">
                    <span v-if="showUi.tags" class="log-tags">{{ formatTags(log.message.tags) }}</span>
                    <span v-if="showUi.source" class="log-source">{{ log.message.prefix ? ':' + log.message.prefix : ''}}</span>
                    <span v-if="showUi.command" class="log-command" :title="log.message.command">{{ commandText(log.message.command) }}</span>
                    <span v-if="showUi.params" class="log-params">
                        <span v-for="(p, idx) in log.message.params">{{ idx === log.message.params.length - 1 && needsTrailing(p) ? ':' + p : p }}</span>
                    </span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="options">
            <label><input type="checkbox" v-model="showUi.timestamp" /> Timestamps</label>
            <label><input type="checkbox" v-model="showUi.direction" /> Direction</label>
            <label><input type="checkbox" v-model="showUi.tags" /> Tags</label>
            <label><input type="checkbox" v-model="showUi.source" /> Source</label>
            <label><input type="checkbox" v-model="showUi.command" /> Command</label>
            <label><input type="checkbox" v-model="showUi.params" /> Params</label>
            <label><input type="checkbox" v-model="showUi.commandLabels" /> Command names</label>            

            <br><hr/><br>

            <label>Filter commands <a @click="showFilterHelp=!showFilterHelp" class="helptext">[?]</a></a><br /><input type="text" v-model="messageFilter" /></label>
            <div v-if="showFilterHelp" class="helptext">
                Filter messages by a space<br>
                delimited list of commands.<br>
                Numerics or names accepted,<br>
                ie. RPL_WELCOME.
            </div>
            <label><input type="checkbox" v-model="showUi.pingpongs" /> Ping / Pongs</label>
        </div>
    </div>
    </div>

    <template id="ly_ircoptions">
        <div class="irc-options">
            <h3>Capabilities</h3>
            <label v-for="(val, name) in caps"> <input type="checkbox" v-model="val.enabled" /> {{ name }}</label>
            <label>Extra capabilities <input v-model="customCaps" /></label>

            <h3>Connection</h3>
            <label>Nick <input v-model="nick" /></label>
            <label>Password <input v-model="password" /></label>
        </div>
    </template>
</body>

<script src="irc-framework.js"></script>
<script src="vue-2.6.11.min.js"></script>
<script>
const WS_CLOSED = 0;
const WS_OPEN = 1;
const WS_CONNECTING = 2;

// https://github.com/kiwiirc/irc-framework/blob/master/src/commands/numerics.js
const numerics = {
    '001': 'RPL_WELCOME',
    '002': 'RPL_YOURHOST',
    '003': 'RPL_CREATED',
    '004': 'RPL_MYINFO',
    '005': 'RPL_ISUPPORT',
    '006': 'RPL_MAPMORE',
    '007': 'RPL_MAPEND',
    '008': 'RPL_SNOMASK',
    '015': 'RPL_MAP',
    '017': 'RPL_MAPEND',
    '200': 'RPL_TRACELINK',
    '201': 'RPL_TRACECONNECTING',
    '202': 'RPL_TRACEHANDSHAKE',
    '203': 'RPL_TRACEUNKNOWN',
    '204': 'RPL_TRACEOPERATOR',
    '205': 'RPL_TRACEUSER',
    '206': 'RPL_TRACESERVER',
    '207': 'RPL_TRACESERVICE',
    '208': 'RPL_TRACENEWTYPE',
    '209': 'RPL_TRACECLASS',
    '210': 'RPL_TRACERECONNECT',
    '211': 'RPL_STATSLINKINFO',
    '212': 'RPL_STATSCOMMANDS',
    '213': 'RPL_STATSCLINE',
    '214': 'RPL_STATSNLINE',
    '215': 'RPL_STATSILINE',
    '216': 'RPL_STATSKLINE',
    '217': 'RPL_STATSPLINE',
    '218': 'RPL_STATSYLINE',
    '219': 'RPL_ENDOFSTATS',
    '220': 'RPL_STATSBLINE',
    '221': 'RPL_UMODEIS',
    '222': 'RPL_SQLINE_NICK',
    '223': 'RPL_STATS_E',
    '224': 'RPL_STATS_D',
    '229': 'RPL_SPAMFILTER',
    '231': 'RPL_SERVICEINFO',
    '232': 'RPL_ENDOFSERVICES',
    '233': 'RPL_SERVICE',
    '234': 'RPL_SERVLIST',
    '235': 'RPL_SERVLISTEND',
    '241': 'RPL_STATSLLINE',
    '242': 'RPL_STATSUPTIME',
    '243': 'RPL_STATSOLINE',
    '244': 'RPL_STATSHLINE',
    '245': 'RPL_STATSSLINE',
    '246': 'RPL_STATSGLINE',
    '247': 'RPL_STATSXLINE',
    '248': 'RPL_STATSULINE',
    '249': 'RPL_STATSDEBUG',
    '250': 'RPL_STATSCONN',
    '251': 'RPL_LUSERCLIENT',
    '252': 'RPL_LUSEROP',
    '253': 'RPL_LUSERUNKNOWN',
    '254': 'RPL_LUSERCHANNELS',
    '255': 'RPL_LUSERME',
    '256': 'RPL_ADMINME',
    '257': 'RPL_ADMINLOC1',
    '258': 'RPL_ADMINLOC2',
    '259': 'RPL_ADMINEMAIL',
    '265': 'RPL_LOCALUSERS',
    '266': 'RPL_GLOBALUSERS',
    '290': 'RPL_HELPHDR',
    '291': 'RPL_HELPOP',
    '292': 'RPL_HELPTLR',
    '301': 'RPL_AWAY',
    '303': 'RPL_ISON',
    '304': 'RPL_ZIPSTATS',
    '305': 'RPL_UNAWAY',
    '306': 'RPL_NOWAWAY',
    '307': 'RPL_WHOISREGNICK',
    '310': 'RPL_WHOISHELPOP',
    '311': 'RPL_WHOISUSER',
    '312': 'RPL_WHOISSERVER',
    '313': 'RPL_WHOISOPERATOR',
    '314': 'RPL_WHOWASUSER',
    '315': 'RPL_ENDOFWHO',
    '317': 'RPL_WHOISIDLE',
    '318': 'RPL_ENDOFWHOIS',
    '319': 'RPL_WHOISCHANNELS',
    '320': 'RPL_WHOISSPECIAL',
    '321': 'RPL_LISTSTART',
    '322': 'RPL_LIST',
    '323': 'RPL_LISTEND',
    '324': 'RPL_CHANNELMODEIS',
    '328': 'RPL_CHANNEL_URL',
    '329': 'RPL_CREATIONTIME',
    '330': 'RPL_WHOISACCOUNT',
    '331': 'RPL_NOTOPIC',
    '332': 'RPL_TOPIC',
    '333': 'RPL_TOPICWHOTIME',
    '335': 'RPL_WHOISBOT',
    '338': 'RPL_WHOISACTUALLY',
    '341': 'RPL_INVITING',
    '344': 'RPL_WHOISCOUNTRY',
    '346': 'RPL_INVITELIST',
    '347': 'RPL_ENDOFINVITELIST',
    '352': 'RPL_WHOREPLY',
    '353': 'RPL_NAMEREPLY',
    '354': 'RPL_WHOSPCRPL',
    '364': 'RPL_LINKS',
    '365': 'RPL_ENDOFLINKS',
    '366': 'RPL_ENDOFNAMES',
    '367': 'RPL_BANLIST',
    '368': 'RPL_ENDOFBANLIST',
    '369': 'RPL_ENDOFWHOWAS',
    '371': 'RPL_INFO',
    '372': 'RPL_MOTD',
    '374': 'RPL_ENDINFO',
    '375': 'RPL_MOTDSTART',
    '376': 'RPL_ENDOFMOTD',
    '378': 'RPL_WHOISHOST',
    '379': 'RPL_WHOISMODES',
    '381': 'RPL_NOWOPER',
    '396': 'RPL_HOSTCLOAKING',
    '401': 'ERR_NOSUCHNICK',
    '402': 'ERR_NOSUCHSERVER',
    '404': 'ERR_CANNOTSENDTOCHAN',
    '405': 'ERR_TOOMANYCHANNELS',
    '406': 'ERR_WASNOSUCHNICK',
    '421': 'ERR_UNKNOWNCOMMAND',
    '422': 'ERR_NOMOTD',
    '423': 'ERR_NOADMININFO',
    '432': 'ERR_ERRONEOUSNICKNAME',
    '433': 'ERR_NICKNAMEINUSE',
    '441': 'ERR_USERNOTINCHANNEL',
    '442': 'ERR_NOTONCHANNEL',
    '443': 'ERR_USERONCHANNEL',
    '451': 'ERR_NOTREGISTERED',
    '461': 'ERR_NOTENOUGHPARAMS',
    '464': 'ERR_PASSWDMISMATCH',
    '470': 'ERR_LINKCHANNEL',
    '471': 'ERR_CHANNELISFULL',
    '472': 'ERR_UNKNOWNMODE',
    '473': 'ERR_INVITEONLYCHAN',
    '474': 'ERR_BANNEDFROMCHAN',
    '475': 'ERR_BADCHANNELKEY',
    '481': 'ERR_NOPRIVILEGES',
    '482': 'ERR_CHANOPRIVSNEEDED',
    '483': 'ERR_CANTKILLSERVER',
    '484': 'ERR_ISCHANSERVICE',
    '485': 'ERR_ISREALSERVICE',
    '491': 'ERR_NOOPERHOST',
    '670': 'RPL_STARTTLS',
    '671': 'RPL_WHOISSECURE',
    '900': 'RPL_LOGGEDIN',
    '901': 'RPL_LOGGEDOUT',
    '903': 'RPL_SASLLOGGEDIN',
    '904': 'ERR_SASLNOTAUTHORISED',
    '906': 'ERR_SASLABORTED',
    '907': 'ERR_SASLALREADYAUTHED',
    '972': 'ERR_CANNOTDOCOMMAND',
    'WALLOPS': 'RPL_WALLOPS',
}

const IrcOptions = Vue.extend({
    template: '#ly_ircoptions',
    data: () => ({
        caps: {
            'echo-message': {enabled: false},
            'chghost': {enabled: false},
            'setname': {enabled: false},
        },
        customCaps: '',
        password: '',
        nick: 'ircdev' + Math.floor(Math.random() * 100),
    }),
});

new Vue({
  el: "#app",
  components: {
    IrcOptions,
  },
  data: {
    showUi: {
      timestamp: true,
      direction: true,
      tags: true,
      source: true,
      command: true,
      params: true,
      commandLabels: false,
      pingpongs: true,
    },
    connection: {
    	url: 'irc.com/webirc/websocket/',
      state: WS_CLOSED,
    },
    logStarted: Date.now(),
    logs: [],
    messageFilter: '',
    connectionStates: {
      0: 'Disconnected',
      1: 'Connected',
      2: 'Connecting..',
    },
    numConnects: 0,
    showIrcOpts: false,
    showFilterHelp: false,
  },
  computed: {
    filteredLogs() {
      let isPingPong = m => {
        return ['PING', 'PONG'].includes(m.command.toUpperCase());
      };

      let filters = this.messageFilter.toLowerCase().split(' ').filter(v => !!v);

      return this.logs.filter(log => {
        if (!this.showUi.pingpongs && isPingPong(log.message)) {
          return false;
        }

        if (filters.length > 0) {
            let cmd = log.message.command.toLowerCase();
            let cmdLabel = (numerics[cmd] || '').toLowerCase();
            if (!filters.includes(cmd) && !filters.includes(cmdLabel)) {
                return false;
            }
        }

        return true;
      });
    },
  },
  created() {
      // Just to aid in debugging within the browser
      window.app = this;
  },
  methods: {
    needsTrailing(val) {
      return val.indexOf(' ') > -1 || val[0] === ' ';
    },
    commandText(command) {
        return this.showUi.commandLabels ?
            numerics[command.toUpperCase()] || command :
            command;
    },
  	formatTags: function(tags){
      let keys = Object.keys(tags);
      if (keys.length === 0) {
      	return '';
      }

      return keys.reduce((acc, key) => {
      	return `${acc}${key}=${tags[key]};`;
      }, '@');
    },
    connectIrc() {
      if (!this.connection.url) {
        return;
      }

      let m = this.connection.url.match(/^([^:\/]+)(:[0-9]+)?(\/.+)?/);
      if (!m) {
      	return;
      }

      // Close any previous connect if any
      if (this.client) {
          this.client.connection.end();
          this.client = null;
      }

      let irc = window['irc-framework'];
      let client = this.client = new irc.Client();
      
      this.$refs.ircopts.customCaps.split(' ').forEach(cap => {
          if (cap) {
            client.requestCap(cap);
          }
      });

      this.connection.state = WS_CONNECTING;
      this.numConnects++;
      this.logs = [];

      client.connect({
        nick: this.$refs.ircopts.nick,
        password: this.$refs.ircopts.password,
        host: m[1],
        port: parseInt(m[2] || 443, 10),
        tls: true,
        direct: true,
        path: m[3] ? m[3] : '/',
        enable_chghost: this.$refs.ircopts.caps['chghost'].enabled,
        enable_echomessage: this.$refs.ircopts.caps['echo-message'].enabled,
        enable_setname: this.$refs.ircopts.caps['setname'].enabled,
      });

      let logId = 0;
      let onRaw = event => {
        logId++;
        let m = irc.ircLineParser(event.line);
        this.logs.push({
          id: logId,
          time: Date.now(),
          message: m,
          fromServer: event.from_server,
        });
      };

      let onSocketConnected = event => {
          this.connection.state = WS_OPEN;
          this.logStarted = Date.now();
      };

      let onSocketClose = event => {
        this.connection.state = WS_CLOSED;
        client.off('raw', onRaw);
        client.off('socket connected', onSocketConnected);
        client.off('socket close', onSocketClose);
      };

      client.on('raw', onRaw);
      client.on('socket connected', onSocketConnected);
      client.on('socket close', onSocketClose);
      
    },
  }
})
</script>
</html>